body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

h1, h2 {
    color: #2e7d32;
}

.container button {
    padding: 15px;
    margin: 10px;
    width: 200px;
    font-size: 16px;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
}
